{% extends "layout.html" %}

{% block body %}
        <div class="container-fluid">
             <div class="row">
                <div class="col-md-12 text-center">
                    <h1>API</h1>
                </div>
            </div>

            <div class="row" style="padding-top:50px;">
                <div class="col-md-12">

                    <p>
                        <strong>GET dataset/region_slug/dataset_slug</strong>
                    </p>
                    <h4>Resource URL</h4>
                    <p>
                        http://relatewith.it/api/dataset/region_slug/data_source_slug
                    </p>

                    <h4>Resource Information</h4>
                    <p>
                        Retrieves list of data for the given region and data source.
                    </p>
                </div>
            </div>
            <div class="row" style="padding-top:50px;">
                <div class="col-md-12">

                    <p>
                        <strong>GET dataset/projects</strong>
                    </p>
                    <h4>Resource URL</h4>
                    <p>
                        http://relatewith.it/api/projects
                    </p>

                    <h4>Resource Information</h4>
                    <p>
                        Retrieves list of available projects.
                    </p>
                </div>
            </div>

            <div class="row" style="padding-top:50px;">
                <div class="col-md-12">
                    <p>
                        <strong>GET dataset/currencies</strong>
                    </p>
                    <h4>Resource URL</h4>
                    <p>
                        http://relatewith.it/api/currencies
                    </p>

                    <h4>Resource Information</h4>
                    <p>
                        Retrieves list of available currencies.
                    </p>

                </div>
            </div>
        </div>
{% endblock %}