{% extends "layout.html" %}

{% block body %}
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-2">

                </div>
                <div class="col-md-8 text-center">
                    <h1>Reactions</h1>
                    <div class="embed-responsive embed-responsive-16by9">
                        <iframe height="80%" class="embed-responsive-item" src="https://www.youtube.com/embed/ZXXSly8g6LQ"></iframe>
                    </div>

                </div>
                <div class="col-md-2">

                </div>
            </div>
        </div>
{% endblock %}