{% extends "layout.html" %}

{% block script %}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
    <script>



        var numberKosovo = {{ (project.cost / currency.kosovo.value)|round|int }};

        var numberKosovo = 100;

        var delayIndKosovo = 0;
        var delayIndMontenegro = 0;
        var delayIndSerbia = 0;

        $(document).ready(function() {
            $('[data-toggle="tooltip"]').tooltip();
            
            $("img[id*=kosovo-img-]").each(function() {
                    $(this).addClass('animated slideInDown')
                        .delay(500 + 10 * delayIndKosovo++).queue(function() {
                            $(this).removeClass("hiddenImg").dequeue();
                        });

            })   

            $("img[id*=montenegro-img-]").each(function() {
                    $(this).addClass('animated slideInDown')
                        .delay(500 + 10 * delayIndSerbia++).queue(function() {
                            $(this).removeClass("hiddenImg").dequeue();
                        });
            })   

            $("img[id*=serbia-img-]").each(function() {
                    $(this).addClass('animated slideInDown')
                        .delay(500 + 10 * delayIndMontenegro++).queue(function() {
                            $(this).removeClass("hiddenImg").dequeue();
                        });
            })   


        })

       
    </script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
    
    <style>

    .hiddenImg{
        visibility: hidden;
        /*display: none;*/
    }
    img[id*=img]{
       /*  display: none; */
     
      -webkit-animation-duration: 0.3s;
      -moz-animation-duration: 0.3s;
      -o-animation-duration: 0.3s;
      animation-duration: 0.3s;
      
      -webkit-animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      -o-animation-delay: 0.3s;
      animation-delay: 0.3s;

      -webkit-animation-iteration-count: once;
      -moz-animation-iteration-count: once;
      -o-animation-iteration-count: once;
      animation-iteration-count: once;

    }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 project-info" align="center">
                <p>
                    <a href="#" data-toggle="tooltip" data-placement="right" title="{{ project.description }}">
                        <span style="font-size:27px;"><strong>{{ project.name }}</strong></span>
                    </a>
                </p>
                <p style="font-size:16px;">
                    A <font color="red"><strong><em>{{ project.cost|to_currency(project.currency) }}</em></strong></font> project in <strong><em>{{ project.region }}</em></strong>, how much is it in... <strong><em><a href="#" style="color:orange;" data-toggle="tooltip" data-placement="bottom" title="{{ currency.description }}">{{ currency.name }}</a></em></strong>?
                    {# But how much is it in... <strong><em><a href="#" style="color:orange;" data-toggle="tooltip" data-placement="bottom" title="Kosovo: {{ currency.kosovo.value|to_currency('EUR') }}; Montenegro: {{ currency.montenegro.value|to_currency('EUR') }}; Serbia: {{ currency.serbia.value|to_currency('EUR') }}.">{{ currency.name }}</a></em></strong>? #}
                </p>
                <p style="font-size:11px;">
                    <br>
                    <img src="{{ currency.imageUrl }}"  height="20" width="20" />&nbsp;≃&nbsp;{{ lots['median']|to_num_format }}&nbsp;{{ currency.name }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
            <div class="row">
                <div id="viz-kosovo" class="col-md-4" style="padding:15px;vertical-align:bottom;">
                    <div class="text-center" style="padding-bottom:30px;">
                        <h4>Kosovo</h4>
                        <p>{{ (project.cost / currency.kosovo.value)|round|int|to_num_format }} {{ currency.name }}</p>
                    </div>
                    {% for item in range(0, lots['kosovo']) %}
                        <img class="hiddenImg" id="kosovo-img-{{ item }}" src="{{ currency.imageUrl }}"  height="40" width="40" />
                    {% endfor %}
                </div>
                <div id="viz-montenegro" class="col-md-4" style="padding:15px;">
                    <div class="text-center" style="padding-bottom:30px;">
                        <h4>Montenegro</h4>
                        <p>{{ (project.cost / currency.montenegro.value)|round|int|to_num_format }} {{ currency.name }}</p>
                    </div>
                    {% for item in range(0, lots['montenegro']) %}
                        <img class="hiddenImg" id="montenegro-img-{{ item }}" src="{{ currency.imageUrl }}"  height="40" width="40" />
                    {% endfor %}
                </div>
                <div id="viz-serbian" class="col-md-4" style="padding:15px;">
                    <div class="text-center" style="padding-bottom:30px;">
                        <h4>Serbia</h4>
                        <p>{{ (project.cost / currency.serbia.value)|round|int|to_num_format }} {{ currency.name }}</p>
                    </div>
                    {% for item in range(0, lots['serbia']) %}
                        <img class="hiddenImg" id="serbia-img-{{ item }}" src="{{ currency.imageUrl }}"  height="40" width="40" />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{%  endblock %}