{% extends "layout.html" %}

{% block script %}
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script> -->
    <script>

        var delayIndKosovo = 0;
        var delayIndMontenegro = 0;
        var delayIndSerbia = 0;

        var delay = 600;
        var delayInterval = 10;

        var isSafari = navigator.userAgent.indexOf("Safari") > -1

        $(document).ready(function() {

            $('[data-toggle="tooltip"]').tooltip();

            
            $("img[id*=kosovo-img-]").each(function() {
                $(this).addClass('animated slideInDown')
                    .delay(delay + delayInterval * delayIndKosovo++).queue(function() {
                        $(this).attr('style', 'display:inline');
                        $(this).removeClass("hiddenImg").dequeue();

                        // If we don't add this, there is a weird waterfall effect on Safari
                        if(isSafari == true){
                            $(this).removeClass("slideInDown");
                        }
                    });
            })   

            $("img[id*=montenegro-img-]").each(function() {
                $(this).addClass('animated slideInDown')
                    .delay(delay + delayInterval * delayIndSerbia++).queue(function() {
                        $(this).attr('style', 'display:inline');
                        $(this).removeClass("hiddenImg").dequeue();

                        if(isSafari == true){
                            $(this).removeClass("slideInDown");
                        }
                    });
            })   

            $("img[id*=serbia-img-]").each(function() {
                $(this).addClass('animated slideInDown')
                    .delay(delay + delayInterval * delayIndMontenegro++).queue(function() {
                        $(this).attr('style', 'display:inline');
                        $(this).removeClass("hiddenImg").dequeue();

                        if(isSafari == true){
                            $(this).removeClass("slideInDown");
                        }
                    });
            })
        })

       
    </script>
{% endblock %}

{% block style %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.4.0/animate.min.css">
    
    <style>

    .hiddenImg{
        visibility: hidden;
        /*display: none;*/
    }
    img[id*=img]{
       /*  display: none; */
     
      -webkit-animation-duration: 0.3s;
      -moz-animation-duration: 0.3s;
      -o-animation-duration: 0.3s;
      animation-duration: 0.3s;
      
      -webkit-animation-delay: 0.3s;
      -moz-animation-delay: 0.3s;
      -o-animation-delay: 0.3s;
      animation-delay: 0.3s;

      -webkit-animation-iteration-count: once;
      -moz-animation-iteration-count: once;
      -o-animation-iteration-count: once;
      animation-iteration-count: once;

    }

    .country-header{
        text-decoration: none;
        color: #2c3e50;
        font-size: 19px;
        font-weight: 700;
        text-transform: uppercase;
        font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif
    }
    a:hover{
        text-decoration: none;
    }
    </style>
{% endblock %}

{% block body %}
    <div class="container-fluid" style="padding-top:15px;">
        <div class="row">
            <div class="col-md-12 project-info" align="center">
                <p>
                    <a href="#" data-toggle="tooltip" data-placement="right" title="{{ project.description }}">
                        <span style="font-size:27px;"><strong>{{ project.name }}</strong></span>
                    </a>
                </p>
                <p style="font-size:16px;">
                    A <font color="red"><strong><em>{{ project.cost|to_currency(project.currency) }}</em></strong></font> project in <strong><em>{{ project.region }}</em></strong>, how much is it in... <strong><em><a href="#" style="color:orange;" data-toggle="tooltip" data-placement="bottom" title="{{ currency.description }}">{{ currency.name }}</a></em></strong>?
                    {# But how much is it in... <strong><em><a href="#" style="color:orange;" data-toggle="tooltip" data-placement="bottom" title="Kosovo: {{ currency.kosovo.value|to_currency('EUR') }}; Montenegro: {{ currency.montenegro.value|to_currency('EUR') }}; Serbia: {{ currency.serbia.value|to_currency('EUR') }}.">{{ currency.name }}</a></em></strong>? #}
                </p>
                <p style="font-size:11px;">
                    <br>
                    <img src="{{ currency.imageUrl }}"  height="20" width="20" />&nbsp;≃&nbsp;{{ lots['median']|to_num_format }}&nbsp;{{ currency.name }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
            </div>
            <div class="row" style="padding:15px;">
                <div id="viz-kosovo-container" class="col-md-4">
                    <div class="text-center" style="padding-bottom:30px;">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="1 {{ currency.name }} = {{ currency.kosovo.value|to_currency('EUR') }}">
                            <span class="country-header">Kosovo</span>
                        </a>
                        <p>{{ (project.cost / currency.kosovo.value)|round|int|to_num_format }} {{ currency.name }}</p>
                    </div>
                    {% for item in range(0, lots['kosovo']) %}
                        <img class="hiddenImg" style="display:none" id="kosovo-img-{{ item }}" src="{{ currency.imageUrl }}"  height="40" width="40" />
                    {% endfor %}
                </div>
                <div id="viz-montenegro-container" class="col-md-4">
                    <div class="text-center" style="padding-bottom:30px;">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="1 {{ currency.name }} = {{ currency.montenegro.value|to_currency('EUR') }}">
                            <span class="country-header">Montenegro</span>
                        </a>
                        <p>{{ (project.cost / currency.montenegro.value)|round|int|to_num_format }} {{ currency.name }}</p>
                    </div>
                    {% for item in range(0, lots['montenegro']) %}
                        <img class="hiddenImg" style="display:none" id="montenegro-img-{{ item }}" src="{{ currency.imageUrl }}"  height="40" width="40" />
                    {% endfor %}
                </div>
                <div id="viz-serbian-container" class="col-md-4">
                    <div class="text-center" style="padding-bottom:30px;">
                        <a href="#" data-toggle="tooltip" data-placement="top" title="1 {{ currency.name }} = {{ currency.serbia.value|to_currency('EUR') }}">
                            <span class="country-header">Serbia</span>
                        </a>
                        <p>{{ (project.cost / currency.serbia.value)|round|int|to_num_format }} {{ currency.name }}</p>
                    </div>
                    {% for item in range(0, lots['serbia']) %}
                        <img class="hiddenImg" style="display:none" id="serbia-img-{{ item }}" src="{{ currency.imageUrl }}"  height="40" width="40" />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

{%  endblock %}