{% include 'base/header.html' %}
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
                    <h1>Unit</h1>
					<section>
						<h2>Side Grid</h2>
						<button>Toggle effect</button>
						<figure class="stack stack-sidegrid active">
							<img src="img/1.png" alt="img01">
							<img src="img/3.png" alt="img03">
							<img src="img/4.png" alt="img04">
							<img src="img/2.png" alt="img02">
						</figure>
			</section>
				</div>
				<div class="col-md-6">
                    <h1>Project</h1>
				</div>
			</div>
		</div>
	</div>
{% include 'base/footer.html' %}