.navbar-brand{
    text-transform: lowercase;
    font-weight: normal;
}
.navbar{
    margin-bottom: 0px;
}

.navbar-nav a{
    text-transform: lowercase;
    font-weight: normal;
}

.project-section .stack__item {
	background: white;
}

.currency-section .stack__item {
	background: white;
}

.project-section .stack__item img {
   background: #DCECC8;
}

.currency-section .stack__item img {
   background: #B6E3EB;
}


.project-section{
	background-color:#5cc2f1;
	min-height: 100%;
	/* padding-top: 163px; */
	/* position:relative; */
	/* z-index: 999; */
}
.currency-section{
	background-color:#fff59d;
	min-height: 100%;
	/* padding-top: 163px; */
}
.header{
	background-color:#3f51b5;
	width:100%;
	height:80px;
	color:white;
}
.hajde {
    background: linear-gradient(to right, #5cc2f1 0%,#5cc2f1 50%,#000000 50%,#fff59d 50%,#fff59d 100%);
    min-height: 100%;
}
.btn-hajde-circle {
    width: 100px;
    opacity: 0.9;
    margin-top: 250px !important;
    margin-left: auto;
    margin-right: auto;
}
.btn-hajde-circle:hover {
    opacity: 1;
}
#choose-params-modal {
    padding-left: 0 !important;
    height: 100%;
}

.image400x400 {
    width: 400px;
    height: 400px;
    position: absolute !important;
    z-index:9999;
}
.btn-mobile{
    width:100%;
    height:50px;
    display:none;
}
@media screen and (max-width: 1000px) {
    .hajde {
        display:none;
    }
    .btn-mobile{
        width:100%;
        height:50px;
        display:block;
    }
    .project-section {
        margin-top: -19px;
    }
}


