.navbar-brand{
    text-transform: lowercase;
    font-weight: normal;
}
.unit-section{
	background-color:#5cc2f1;
    min-height:750px;

}
.project-section{
	background-color:#fff59d;
	min-height:750px;
}
.header{
	background-color:#3f51b5;
	width:100%;
	height:80px;
	color:white;
}
.hajde {
    background: linear-gradient(to right, #5cc2f1 0%,#5cc2f1 50%,#000000 50%,#fff59d 50%,#fff59d 100%);
    min-height:750px;
}
.hajde-button {
    width: 100px;
    opacity: 0.8;
    margin-top: 335px !important;
    margin-left: auto;
    margin-right: auto;
}
.hajde-button:hover {
    opacity: 1;
    filter: alpha(opacity=40); /* For IE8 and earlier */
}
#choose-params-modal {
    padding-left: 0 !important;
    height: 100%;
}

.image400x400 {
    width: 400px;
    height: 400px;
    position: absolute !important;
}
.btn-modal{
    width:100%;
    height:50px;
    display:none;
}
@media screen and (max-width: 1000px) {
    .hajde {
        display:none;
    }
    .btn-modal{
        width:100%;
        height:50px;
        display:block;
    }
    .project-section {
        margin-top: -19px;
    }
}
