

{% block script %}
<script src="http://d3js.org/d3.v3.min.js"></script>
{% endblock %} 

{% block style %}
<style type="text/css">

.svgLane {
    display: inline;
    width: 30vw;
    height: 85vh;/* 550px; */
    overflow: none;
    padding: 5px;
    float: left;
}

text {
    fill: orange;
    text-anchor: left;
    font-size: 12px;
    font-family: sans-serif, Helvetica, Arial;
    font-weight: bold;
}

.iconPlain {
    fill: white;
    opacity: 0.01;
}

.iconSelected {
    fill: orange;
    opacity: 1;
}

rect {
    fill: #555555;
}

/*not used with png*/
.pictogram * {
    fill: orange;
    stroke: orange;
}

#visu {
    height: 100vh;
}

@media screen and (max-width: 800px) {
   
    .svgLane {
      
        width: 80vw;
        height: 95vh;/* 550px; */
        padding: 5px;
        float: left;
        margin: 0 6vw;
    }

}

@media screen and (min-width: 801px) and (max-width: 1000px) {
   
    .svgLane {
      
        width: 30vw;
        height: 95vh;/* 550px; */
        padding: 5px;
        float: left;
        margin: 0 6vw;
    }
    
}

</style>
{% endblock %} 

{% block body %}

<div id="visu"> </div>

<div>
    <p>Based on <a href="http://bl.ocks.org/alansmithy/d832fc03f6e6a91e99f4">pictogram grid</a></p>
</div>

<script>


/*
    dependinding on screen size, icon should have width and height
*/

//specify the number of columns and rows for pictogram layout
var numCols = 10;
var numRows = 15;

//numCols * numRows = max amount of pictograms
var numPicto = numCols * numRows;

//padding for the grid
var xPadding = 10;
var yPadding = 15;

//horizontal and vertical spacing between the icons
var hBuffer = 9;
var wBuffer = 8;


//generate a d3 range for the total number of required elements
var myIndex = d3.range(numPicto);

var svgFrameNames = ["mainSvg", "mainSvg1", "mainSvg2"];
var svgFrames = [];

svgFrameNames.forEach(function(la) {
    var temp = d3.select("#visu")
        .append("div")
        .classed("col-md-4",true)
        // /.classed("container-svg",true)
        //.attr("style","height:100vh")
        //.attr("style","margin-left:25vw")
            
            .append("svg")
                .attr("id", la)
                .attr("class", "svgLane")
                .attr("viewBox", "0 0 100 150");

    temp.append("rect").attr("width", "100%").attr("height", "100%");

    svgFrames.push(temp);

})

var imgIds = ["rentImg", "stadiumImg", "fountanImg"];
var imgNames = ["static/img/1.png", "static/img/2.png", "static/img/3.png"];

imgNames.forEach(function(imgName, ind) {
    d3.select("#mainSvg2 rect")
        .append("image")
        .attr("id", imgIds[ind])
        .attr("x", "0")
        .attr("y", "0")
        .attr("width", "7")
        .attr("height", "10")
        .attr("xlink:href", imgName);

})


var rand = function(number) {
    return Math.ceil(Math.random() * number)
}

svgFrames.forEach(function(el, index) {
    el.append("text")
        .attr("id", "txtValue")
        .attr("x", xPadding * 4.2)
        .attr("y", yPadding)
        .attr("dy", -3)
        .text("0");

    el
        .append("g")
        .append("use")
        .attr("x", xPadding * 3.5)
        .attr("y", yPadding / 4)
        .attr("dy", -3)
        .attr("dx", 5)
        .attr("xlink:href", function(d, i) {
            console.log(index)
            return "#" + imgIds[index];
        })
        .attr('cursor', "hand")
        .attr('cursor', "pointer")
        .on("click", function() {
            var tempElName = el[0][0].id;
            var tempLaneName = d3.select("#" + tempElName + " g").attr("id");

            var randImg = ["#stadiumImg", "#fountanImg", "#rentImg"][rand(3) - 1]
            var tempNumPicto = rand(numPicto);

            d3.select(this).attr("xlink:href", randImg)

            removeLane(tempLaneName);
            addLane("#" + tempElName, tempLaneName, 0, 0, randImg);

            showPictograms(tempNumPicto, tempLaneName);

        });

    var multiplyer = "1k";          
           

    el.select("g")
            .append("text") 
                .attr("y", function (d,i) {
                  var tempY = 
                    this.parentElement
                        .getElementsByTagName("use")[0]
                        .getAttribute('y');

                  return tempY;  
                })
                .attr("x",  function (d,i) {
                  var tempX = 
                    this.parentElement
                        .getElementsByTagName("use")[0]
                        .getAttribute('x');  
                  return tempX;  
                })
                .attr("dy", 3)
                .attr("dx", -5)
                .attr("style",'font-size:3px' )
                .attr("class",function (d,i) {
                    console.log(this)

                    d3.select(this).attr("class",'');
                    var klas = this.parentElement
                        .getElementsByTagName("use")[0]
                        .classList;
                    return klas[0];    
                    
                })
                .text("x"+multiplyer);     

})

function removeLane(laneName) {
    d3.select("#" + laneName).remove();
}

function addLane(svgFrame, laneName, xShift, yShift, imgUri) {

    d3.select(svgFrame).append("g")
        .attr("id", laneName)
        .selectAll(laneName + " use")
        .data(myIndex)
        .enter()
        //.append("g")
           
            .append("use")
            .attr("xlink:href", function(d, i) {

                if (imgUri != undefined) {
                    //remove the previous                    
                    return imgUri;
                }
                //else set default
            })
            .attr("id", function(d) {
                return laneName + "icon" + d;
            })
            .attr("x", function(d) {
                var remainder = d % numCols; //calculates the x position (column number) using modulus
                return xPadding + (remainder * wBuffer) + xShift; //apply the buffer and return value
            })
            .attr("y", function(d) {
                var whole = Math.floor(d / numCols) //calculates the y position (row number)
                return yPadding + (whole * hBuffer); //apply the buffer and return the value
            })
           ;

      

}

function showPictograms(noSelected, laneName) {

    var amountOfDisplayedPictograms = noSelected;

    //text should be in separete function
    var txtVal = document.getElementById(laneName)
        .parentElement
        .getElementsByTagName("text")[0];

    d3.select(txtVal).text(amountOfDisplayedPictograms);

    //array indexes: 0 to length -1
    var total = d3.selectAll("#" + laneName + " use")[0].length - 1;


    d3.selectAll("#" + laneName + " use").attr("class", function(d, i) {

        if ((total - d) < amountOfDisplayedPictograms) {
            return "iconSelected";
        } else {
            return "iconPlain";
        }
    });
}

function addImage(pathToImage) {

    // make it working with png, jpeg and svg        

}


var laneName1 = "pictoLayer";
var laneName2 = "pictoLayer1";
var laneName3 = "pictoLayer2";

addLane("#mainSvg", laneName1, 0, 0, "#rentImg");
addLane("#mainSvg1", laneName2, 0, 0, "#stadiumImg");
addLane("#mainSvg2", laneName3, 0, 0, "#fountanImg");

showPictograms(rand(numPicto), laneName1);
showPictograms(rand(numPicto), laneName2);
showPictograms(rand(numPicto), laneName3);
</script>
{% endblock %}
