{% extends "layout.html" %}
{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <div class="jumbotron">
                <h1>Hello, Administrator!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                    <p>
                        <button type="button" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> New Project
                        </button>
                        <button type="button" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-star" aria-hidden="true"></span> New Unit
                        </button>
                    </p>
                </div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-12">
		</div>
	</div>
</div>

{% endblock %}