{% extends "admin_layout.html" %}
{% block body %}

<div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
            <div class="jumbotron">
                <h1>Hello, Administrator!</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                <p>
                    <form action="{{ url_for('admin.project') }}" method="GET" >
                        <button type="submit" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-road" aria-hidden="true"></span>&nbsp;&nbsp;New Project
                        </button>
                    </form>

                    <form action="{{ url_for('admin.currency') }}" method="GET" >
                        <button type="submit" class="btn btn-primary btn-lg">
                            <span class="glyphicon glyphicon-euro" aria-hidden="true"></span>&nbsp;&nbsp;New Currency
                        </button>
                    </form>
                </p>
            </div>
		</div>
	</div>
    <div class="row">
		<div class="col-md-12">
            <table id="example" class="display" cellspacing="0" width="100%">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th>Kosovo</th>
                        <th>Montenegro</th>
                        <th>Serbia</th>
                    </tr>
                </thead>
                <tbody>
                    {% for currency in currencies %}
                    <tr>
                        <td>{{ currency.name }}</td>
                        <td>{{ currency.description }}</td>
                        <td>{{ currency.exchangeRate.kosovo }}</td>
                        <td>{{ currency.exchangeRate.montenegro }}</td>
                        <td>{{ currency.exchangeRate.serbia }}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

            {% for project in projects %}
                {{ project.name }}
            {% endfor %}
		</div>
	</div>
</div>

{% endblock %}